<div class="navigation pure-menu pure-menu-horizontal">
  <a href="{{ SITEURL }}/" class="pure-menu-heading  pure-menu-link">{{ SITENAME }}</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"></li>
    {% for title, link in MENUITEMS %}
    <li class="pure-menu-item"><a href="{{ link }}" class="pure-menu-link">{{ title }}</a></li>
    {% endfor %}

    {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
    <li class="pure-menu-item{% if p == page %} pure-menu-selected{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}" class="pure-menu-link">{{ p.title }}</a></li>
    {% endfor %}
    {% endif %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
    {% for cat, null in categories %}
    <li class="pure-menu-item{% if cat == category %} pure-menu-selected{% endif %}"><a href="{{ SITEURL }}/{{ cat.url }}" class="pure-menu-link">{{ cat }}</a></li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
